upr.php-cat.local {
    # Формируем самоподписной сертификат для работы https
	tls internal
    # tls support@php-cat.com

    php_fastcgi upr_serv:9000

    file_server
    encode gzip

    root * /upr_serv/public
}



